<!DOCTYPE html>
<html>
<head>
    <title>#$%$#@%FGSGDSgsdfgsdfgdsfggdfs</title>
    <link rel='stylesheet' href='/stylesheets/desktop.css'/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
</head>
<body>
        <ul>
           <%= urls %>

        </ul>
</body>
</html>