.urlImage {
    margin: 5px;
    padding: 5px;
    float: left;
    background-color: #FFF;
    border: 1px solid #CCC;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
}
.imageName {
    display: block;
    text-align: center;
    background-color: #F2F2F2;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-radius: 7px;
}
.image {
    width: 330px;
}